language: generic
sudo: required
services:
  - docker

env:
  global:
    - SHA=$(git rev-parse HEAD)

before_script:
  - docker-compose build
  - docker-compose up -d

script:
  - docker exec -it analyze /bin/sh -c "npm run test:api"

after_success:
  - docker-compose kill